{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="inscription-box">
        <div class="left"></div>
        <div class="right">
            <h2>Inscription</h2>
            <input type="text" class="field" value="{{ participant.nom }}" readonly>
            <input type="text" class="field" value="{{ participant.prenoms }}" readonly>
            <input type="text" class="field" value="{{ participant.telephone }}" readonly>
            <input type="text" class="field" value="{{  participant.club }}" readonly>
            <input type="text" class="field" value="{{ participant.fonction }}" readonly>
            <input type="text" class="field" value="{{ participant.code }}" style="color: red; font-weight:bold;" readonly>
            <a href="{{ path('app_home') }}" class="btn">Retour</a>
        </div>
    </div>
{% endblock %}
